{
    "extends": "airbnb",
    "plugins": [
        "react",
        "jsx-a11y",
        "import"
    ],
    "rules": {
        "no-underscore-dangle": ["error", {
            "allowAfterSuper": true,
            "allowAfterThis": true
        }],
        "quotes": 0,
        "import/no-extraneous-dependencies": ["error", {"devDependencies": ["atom", "weexpack-create"]}]
    },
    "env" : {
        "browser": true
    },
    "globals" : {
        "atom": 0
    }
}
