{
    "extends": "airbnb",
    "plugins": [
        "react",
        "jsx-a11y",
        "import"
    ],
    "rules": {
        "import/no-extraneous-dependencies": ["error", {"devDependencies": ["atom"]}]
    },
    "globals" : {
        "atom": 0
    }
}
